<body class="bg-5 oswald-font" id="body" onload="abreModal()" theme-dicender=>
  <div>
    <nav class="navbar sticky-top fw-300 navbar-expand-lg bg-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><img src="/img/icon-glass.png" class="logo" alt="Logotipo Dicenders"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>   
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home"><p class="text-clean fs-5 m-2 fw-500">Menu</p></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="notificacoes"><p class="text-clean fs-5 m-2 fw-500">Notificações</p></a>
              </li>

              <li class="nav-item dropdown m-2">
                <div class="bg-5 profile row mx-0 rounded-5 container">
                  <div class="h-100 col-md-3 p-0">
                    <div class="w-auto translate-middle-y top-50 end-0 position-relative rounded-circle profile-image">
                      <a href="/social/{{usertag}}">              
                      <img style="width: 100%; height: 100%; object-fit: cover;" class="position-absolute" src="{{{avatar}}}" alt="Imagem de perfil do usuário"> 
                      </a>
                    </div>
                  </div>
                  <div class="h-100 col-md-7 px-0">
                    <h6 class="m-0 text-1 mt-1">{{username}}</h6>
                    <p class="m-0 text-clean" style="font-size: 0.8rem;">@{{usertag}}</p>
                  </div>
                    <div class="h-100 col-md-2 position-relative dropdown">
                      <i class="bi-three-dots-vertical position-absolute start-50 translate-middle text-1" style="font-size: 1.5rem; top: 45%;" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="config"></i>
                      <ul class="dropdown-menu dropdown-menu-end dropdown drop-menu" id="dropdownPerfil">
                        <li>
                          <a class="dropdown-item switch-item" href="/social/{{usertag}}" id="">
                            <i class="bi-person-fill text-2 fs-5"></i>
                            <p class="text-2 m-1">Meu perfil</p>
                          </a>
                        </li>
                        <li class="dropdown-item dropstart switch-item" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi-brush-fill text-2 fs-5"></i>
                            <p class="text-2 m-1">Meus temas</p>
                            <ul class="dropdown-menu dropdown drop-menu" style="margin-right: -3% !important; box-shadow: 0 10px 40px #000;" id="colorList">
                              <li>
                                <a class="dropdown-item switch-item" id="default"><button class="switch-color" id="defaultcolor">
                                    <img src="/img/001.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema padrão">
                                  </button> 
                                  <p class="text-2 text-center m-1" >Dicenders Padrão</p>
                                  <button class="light-btn float-end bg-3" id="lightCheck"><i class=" text-5" id="lightModeIcon"></i></button> 
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="coloryellow"><button class="switch-color" id="yellow">
                                    <img src="/img/001yellow.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema amarelo">
                                  </button>
                                  <p class="text-2 text-center m-1" >Deserto Escaldante</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="colorgreen"><button class="switch-color" id="green">
                                    <img src="/img/001green.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema verde">
                                  </button>
                                  <p class="text-2 text-center m-1" >Floresta Amazônica</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="colorred"><button class="switch-color" id="red">
                                    <img src="/img/001red.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema vermelho">
                                  </button>
                                  <p class="text-2 text-center m-1" >Pináculo Ígneo</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="colorblack"><button class="switch-color" id="black">
                                    <img src="/img/001black.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema preto">
                                  </button>
                                  <p class="text-2 text-center m-1" >Cripta Soturna</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="colorwhite"><button class="switch-color" id="white">
                                    <img src="/img/001white.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema branco">
                                  </button>
                                  <p class="text-2 text-center m-1" >Terror Glacial</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="blueyellow"><button class="switch-color" id="blueNyellow">
                                    <img src="/img/001bny.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema gradiente azul-amarelo">
                                  </button>
                                  <p class="text-2 text-center m-1" >Estrondo Atroz</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="purpleyellow"><button class="switch-color" id="purpNyellow">
                                    <img src="/img/001pny.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema gradiente roxo-amarelo">
                                  </button>
                                  <p class="text-2 text-center m-1" >Bosque Convexo</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="milesgradient"><button class="switch-color" id="blackspider">
                                    <img src="/img/001miles.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema gradiente preto-vermelho">
                                  </button>
                                  <p class="text-2 text-center m-1" >Aranha Escarlate</p>
                                </a>
                              </li>
                              <li>
                                <a class="dropdown-item switch-item" id="coffeetheme"><button class="switch-color" id="coffee">
                                    <img src="/img/001coffee.svg" class="switch-img" alt="Logotipo Dicenders para escolha do tema marrom">
                                  </button>
                                  <p class="text-2 text-center m-1" >Ruína dos Ernos</p>
                                </a>
                              </li>
                            </ul>
                        </li>
                        <li>
                          <a class="dropdown-item switch-item" href="/login" id="">
                            <i class="bi-person-fill-add text-2 fs-5"></i>
                            <p class="text-2 m-1">Adicionar conta</p>
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item switch-item" href="/configuracao" id="">
                            <i class="bi-gear-fill text-2 fs-5"></i>
                            <p class="text-2 m-1">Configurações</p>
                          </a>
                        </li>
                        <li><hr></li>
                        <li><a href="/home/logout" class="dropdown-item" id=""><p class="text-danger m-1">Logout</p></a></li>
                      </ul>
                    </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 border-end border-2 bc-2" style="min-height: 100vh;">
                <div class="comunidades position-sticky">
                    <p class="text-2 text-center align-middle fw-400 fs-5 mt-social">Comunidades</p>
                    <hr class="mx-small">
                    <a href="#"><button class="comm-btn"><i class="bi-globe-americas"></i></button></a>
                    <a href="#"><button class="comm-btn"><i class="bi-globe-americas"></i></button></a>
                    <a href="#"><button class="comm-btn"><i class="bi-globe-americas"></i></button></a>
                    <a href="#"><button class="comm-btn"><i class="bi-plus-circle"></i></button></a>
                </div>
            </div>
            <div class="col-md-2 p-0">
              <input type="checkbox" id="sideCheck">
              <label for="sideCheck" style="position: absolute;">
                <i class="fa-solid fa-chevron-right" id="sideOpen"></i>
              </label>
              <div class="sidebar bg-config">
                <label for="sideCheck" style="width: 100%;">
                  <i class="fa-solid fa-chevron-left float-end" id="sideClose"></i>
                </label>
                <h1>Esta sessão ainda está em desenvolvimento.</h1>
              </div>

            </div>
            <div class="col-md-7 border-end border-start border-2 p-0 bc-2">
                <div class="images-content">
                    <div class="container-head">
                      <a onclick="history.back()" class="text-2"><i class="bi-arrow-left ms-3 position-absolute" style="font-size: xx-large;"></i></a>
                        <img src="/img/icon-glass.png" class="head-img" alt="Plano de fundo de perfil do usuário">
                    </div>
                    <div class="profile-container-circle">
                      <div class="w-100 top-50 start-50 translate-middle position-relative rounded-circle circle-image">
                        <img style="width: 100%; height: 100%; object-fit: cover;" class="position-absolute" src="{{{profAvatar}}}" alt="Imagem de perfil do usuário"> 
                      </div>
                    </div>
                </div>
                <div class="profile-options top-0 p-2">
                  <a class="btn btn-glass p-2 mx-1 fs-5 rounded-circle"><i class="bi-three-dots" style="display:flex; justify-content: center; line-height:250%; align-items: center; margin-right: 1px;"></i></a>
                  <a href="/social/mensagens/{{profTag}}" class="btn btn-glass p-2 mx-1 fs-5 rounded-circle"><i class="bi-chat-fill"  style="display:flex; justify-content: center; align-items: center;"></i></a>
                  <form style="" action="/social/follow/{{profTag}}" method="POST">
                  <button type="submit" style="background: none; border: none;"><a class="btn btn-glass mx-1 inter-font fw-600" style="border-radius: 50px;">{{folBut}}</a></button>
                  </form>
                </div>
                <div class="profile-data p-3 container-fluid">
                  <div class="top-0">
                      <p class="text-transition text-2 fw-500 mb-0">{{profName}}</p>
                      <p class="text-ldm oswald-font text-half-white" style="line-height: 20px;">@{{profTag}}</p>
                      <p class="text-ldm my-4 text-clean">{{profDesc}}</p>
                      <div class="d-flex">
                        <p class="text-clean text-soft-ldm">Seguido por <b class="text-2">{{profFollower.length}}</b></p>
                        <p class="text-clean text-soft-ldm mx-3">Seguindo <b class="text-2">{{profFollowing.length}}</b></p>
                      </div>
                  </div>
                </div>
                <div class="d-flex px-0 container">
                  <div class="row w-100 align-center">
                    <div class="justify-content-around mb-2 pb-2 border-1 border-bottom border-top-0 border-start-0 border-end-0 bc-2">
                      <button class="btn-profile">Postagens</button>
                      <button class="btn-profile float-end">Curtidas</button>
                    </div>
              {{#each posts}}
                <!--<a href="/social/{{byTag}}#{{link}}">-->
              <div class="card rounded-0 p-2 bg-5 border-1 border-top-0 border-end-0 border-start-0 bc-2">
                <div class="card-body pb-0">
                  <div class="row">
                    <div class="col-md-2" id="{{{link}}}">
                      <div class="w-auto translate-middle-y mt-4 start-50 position-relative rounded-circle rem-image">
                        <img style="width: 100%; height: 100%; object-fit: cover;" class="position-absolute" src="{{{byAvatar}}}" alt="Imagem de perfil do usuário"> 
                      </div>
                    </div>
                    <div class="col-md-9">
                      <div class="post-data d-flex">
                        <h5 class="text-soft-ldm text-2">{{byName}}</h5>
                        <p class="mx-1 mb-0 mt-1 text-dm text-half-white">@{{byTag}}</p>
                        <p class="mb-0 mt-1 text-dm text-half-white">•</p>
                        <p class="mx-1 mb-0 mt-1 text-dm text-half-white">{{data}}</p>
                      </div>
                      <p class="text-soft-ldm text-clean">{{conteudo}}</p>
                      <div class="reactions">
                        <div class="mb-3 d-flex">
                          <form style="" action="/social/like/{{link}}" method="POST">
                          <button type="submit" style="background: none; border: none;"><i class="bi-heart-fill mx-2 text-2">{{likes.length}}</i></button>
                          </form>
                          <button type="submit" style="background: none; border: none;"><i class="bi-chat-right-fill mx-3 text-2">{{comments.length}}</i></button>
                          <i class="bi-share-fill mx-2 text-2"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1">
                      <i class="bi-three-dots-vertical text-2 text-soft-ldm" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                      <div class="dropdown">
                        <ul class="dropdown-menu bg-5 drop-menu text-2 border-2 bc-2">
                          <li><a class="dropdown-item dropdown switch-item text-2"><i class="bi-trash me-2"></i>Excluir</a></li>
                          <li><a class="dropdown-item dropdown switch-item text-2"><i class="bi-flag me-2"></i>Denunciar</a></li>
                          <li><a class="dropdown-item dropdown switch-item text-2"><i class="bi-person-dash me-2"></i>Deixar de seguir @{{byTag}}</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <!--</a>-->
              {{else}}

              {{/each}}
                  </div>
                  
                </div>
            </div>
            <div class="col-md-2">
              <div class="comunidades position-sticky">
                <div class="mb-3 parent">
                    <input type="text" class="form-control bg-glass text-2 bs-0 mt-social" id="input_search" name="inputsearch" autocomplete="off" aria-describedby="emailHelp" placeholder="Busca" style="padding-left: 2rem; border-radius: 30px;">
                    <i class="bi-search text-2" id="search"></i>
                </div>
                <div class="container-fluid">
                    <a href="/social"><button class="option-media align-center"><i class="bi-house-door-fill"></i><p class="inter-font fw-600">Página inicial</p></button></a>
                    <a href="mensagens"><button class="option-media align-center" ><i class="bi-chat-left-text-fill"></i><p class="inter-font fw-600">Mensagens</p></button></a>
                    <a href="notificacoes"><button class="option-media align-center"><i class="bi-bell-fill"></i><p class="inter-font fw-600">Notificações</p></button></a>
                </div>
                <div class=" mt-3">
                    <button type="submit" id="publicarBtn" class="btn inter-font fw-600 text-post btn-glass w-100" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 50px;">Publicar</button>
                </div>
              </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content position-absolute bg-glass text-2">
                      <div class="modal-header border-2 bc-2">
                        <button type="button" class="btn-close bi-x-lg text-center align-middle" data-bs-dismiss="modal" aria-label="Close" style="color: var(--bs-color-2);"></button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="translate-middle top-25 start-50 position-relative rounded-circle modal-post-image">
                              <img style="width: 100%; height: 100%; object-fit: cover;" class="position-absolute" src="{{{avatar}}}" alt="Imagem de perfil do usuário"> 
                            </div>
                          </div>
                          <div class="col-md-10 ps-0">
                            <form id="form-post" action="/social/newpost" method="POST">
                            <textarea autofocus name="conteudo" form="form-post" tabindex="1" class="form-control text-2 bg-glass border-0" wrap="wrap" id="postTextArea" rows="3" placeholder="No que está pensando?"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer border-2 bc-2">
                        <div class="position-absolute float-start start-0 mx-3">
                          <div class="dropdown-center list-inline-item mx-1">
                            <i class="bi-emoji-smile image-icon-post" id="emojiSelectorIcon" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            </i>
                            <ul class="dropdown-menu drop drop-menu"  style="width: 400px; overflow-y: scroll; height: 50vh;">
                              <li class="emoji-selector" id="emojiSelector">
                                <div class="input-container">
                                    <input id="emojiSearch" type="text" class="bg-glass text-2 position-relative top-0" placeholder="Procurar...">
                                </div>
                                <ul id="emojiList" class="emoji-list">

                                </ul>
                            </ul>
                          </div>
                        
                          <div class="image-upload list-inline-item mx-1">
                            <label for="uploadImage">
                                <span class="">
                                  <i class="bi-image image-icon-post"></i>
                                </span>
                            </label>  
                            <input id="uploadImage" type="file" accept="image/*">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-glass float-end">Finalizar postagem</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              <div id="backUpBtn" class="back-up rounded-circle" onclick="window.scrollTo(0, 0)">
                <i class="bi-chevron-up text-transition"></i>
              </div>
            </div>
        </div> 
    </div>
      
    <div class="footer"></div>
  </div>
</body>